.demo {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
.key {
  position: absolute;
  display: block;
  bottom: 2px;
  right: 2px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-bottom-width: 2px;
  width: 14px;
  padding: 1px 0;
  text-align: center;
  border-radius: 2px;
  font-size: 10px;
}
.key.key_state_active {
  border-width: 1px;
  border-top-width: 2px;
  border-color: #000;
  color: #000;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.8);
}

.dm {
    position: relative;
    margin: 0 0 15px;
}
    .dm__left {
        position: relative;
        float: left;
        width: 60%;
    }
    .dm__right {
        position: relative;
        float: right;
        padding: 15px 0 0;
        width: 40%;
    }

.demo .button {
    display: block;
    float: left;
    margin: 0 10px 10px 0;
    width: 130px;
    white-space: nowrap;
    text-overflow: ellipsis;
}


















html {
    font-family: sans-serif;
}
body {
    margin: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden], template {
    display: none;
}
a {
    background-color: transparent;
}
a:active, a:hover {
    outline: 0 none;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: 700;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
mark {
    background: none repeat scroll 0 0 #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0 none;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    box-sizing: content-box;
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0 none;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: 700;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
}
.font {
    font-family: "Trebuchet MS",Arial,sans-serif;
    font-size: 12px;
    line-height: 1.9;
}
html {
    height: 100%;
    overflow-y: scroll;
}
body {
    color: #67767d;
    font-family: "Trebuchet MS",Arial,sans-serif;
    font-size: 12px;
    height: 100%;
    line-height: 1.9;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    text-shadow: none;
}
img {
    vertical-align: middle;
}
a {
    color: #cf5241;
    outline: 0 none;
    text-decoration: none;
}
a:focus {
    outline: 0 none;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    color: #3f3f3f;
    font-family: "Trebuchet MS",Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    margin: 25px 0 10px;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
    margin-bottom: 20px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 10px;
}
p {
    margin: 10px 0 25px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-family: "Trebuchet MS",Arial,sans-serif;
    font-size: 12px;
    line-height: 1.9;
}
table tr, table td {
    font-family: "Trebuchet MS",Arial,sans-serif;
    font-size: 12px;
    line-height: 1.9;
    padding: 0;
    text-align: left;
    vertical-align: middle;
}
ul {
    list-style-type: none;
    margin: 10px 0 25px;
    padding: 0;
}
ul li {
    background: url("_common/list.png") no-repeat scroll 0 5px rgba(0, 0, 0, 0);
    margin: 0 0 1px;
    padding: 0 0 0 15px;
}
blockquote {
    background: none repeat scroll 0 0 #eee;
    border-left: 2px solid #c00;
    margin: 0 0 20px;
    padding: 20px;
    position: relative;
}
blockquote .button {
    margin-top: 7px;
}
.ya-site-suggest-items li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.ir {
    background-color: transparent;
    border: 0 none;
    overflow: hidden;
}
.ir:before {
    content: "";
    display: block;
    height: 100%;
    width: 0;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
}
.button {
    background: url("/a/plugins/static/bem/blocks/buttons/bg-button.png") repeat-x scroll 0 0 #cd503f;
    border: 1px solid #9f4c2a;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    outline: 0 none;
    padding: 0 15px;
    position: relative;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    vertical-align: top;
}
.button:hover {
    background-color: #dc6352;
    background-position: 0 100%;
    color: #fff;
    text-decoration: none;
}
.button:active {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5) inset;
}
.button_type_sound {
    font-size: 11px;
    height: auto;
    line-height: 12px;
    padding: 5px;
    text-align: left;
}
.button_is_new:after {
    background: none repeat scroll 0 0 #333;
    border-radius: 3px;
    color: #fff;
    content: "new";
    display: block;
    font-size: 9px;
    line-height: 12px;
    padding: 1px 3px;
    position: absolute;
    right: -3px;
    top: -3px;
}
.button span {
    display: block;
    font-size: 9px;
    line-height: 10px;
    padding: 3px 0 1px 14px;
}
.catalog {
    position: relative;
}
.catalog__item {
    float: left;
    position: relative;
    width: 48%;
}
.catalog__item + .catalog__item {
    float: right;
}
.catalog__item p {
    margin: 0;
}
.catalog__title {
    background: url("_common/list.png") no-repeat scroll 0 10px rgba(0, 0, 0, 0);
    font-size: 16px;
    margin: 0;
    padding: 0 0 0 15px;
}
.catalog__title a {
    color: #3f3f3f;
}
.catalog__image {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 0 15px;
    padding: 5px;
    position: relative;
}
.catalog__image:hover {
    border-color: #cf5241;
}
.catalog__image span {
    background-color: #3f3f3f;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    height: 116px;
}
.lt-ie8 .catalog__image {
}
.cols {
    position: relative;
}
.cols.type_table {
    display: table;
    width: 100%;
}
.cols__item {
    float: left;
    position: relative;
}
.cols__item_type_side {
    padding-top: 70px;
    width: 210px;
}
.cols__item_type_main {
    width: 560px;
}
.cols__item_type_big {
    width: 770px;
}
.cols__item_type_single {
    float: none;
    width: auto;
}
.cols__item-content {
    margin: 0 auto;
    position: relative;
    width: 160px;
}
.cols__cell {
    display: table-cell;
    position: relative;
    vertical-align: top;
}
.cols__cell.type_side {
    padding-top: 70px;
    width: 210px;
}
.contacts {
    position: relative;
}
.contacts__item {
    display: block;
    margin: 0 0 10px;
    padding: 0 0 0 25px;
    position: relative;
}
.contacts__item.contacts__item_type_github {
    background: url("/a/plugins/static/bem/blocks/contacts/ico-github.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.contacts__item.contacts__item_type_facebook {
    background: url("/a/plugins/static/bem/blocks/contacts/ico-facebook.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.contacts__item.contacts__item_type_email {
    background: url("/a/plugins/static/bem/blocks/contacts/ico-email.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.lt-ie8 .contacts__item {
}
.demo-big {
    display: table;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}
.demo-big__code {
    display: table-cell;
    min-width: 290px;
    position: relative;
    vertical-align: top;
    width: 35%;
}
.demo-big__code pre {
    margin: 0;
    min-height: 60px;
}
.demo-big__example {
    display: table-cell;
    padding: 0 20px 10px 30px;
    position: relative;
    vertical-align: top;
}
.demo-big__note {
    padding: 0 0 15px;
    position: relative;
}
.demo-big__extra {
    border-top: 1px solid #ccc;
    margin: 20px 0 0;
    overflow: hidden;
    padding: 20px 0 0;
    position: relative;
}
.demo-big__reaction {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid green;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
    padding: 20px 0;
    text-align: center;
    transition: all 100ms cubic-bezier(0.6, 0.04, 0.98, 0.335) 0s;
    width: 100px;
}
.demo-big__reaction.active {
    background: none repeat scroll 0 0 green;
    color: #fff;
}
.demo-first {
    height: 90px;
    position: relative;
}
.demo-first input {
    position: relative;
    z-index: -9999;
}
.title {
    background: url("/a/plugins/static/bem/blocks/elements/bg-line.png") repeat-x scroll 0 11px rgba(0, 0, 0, 0);
    margin: 0 0 20px;
    position: relative;
}
.title h1, .title h2 {
    background: none repeat scroll 0 0 #fff;
    display: inline-block;
    margin: 0;
    padding: 0 20px 2px 0;
}
.title.type_group {
    margin: 40px 0 20px;
}
.lt-ie8 .title h1 {
    display: inline;
}
.line {
    background: url("/a/plugins/static/bem/blocks/elements/bg-line.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    height: 6px;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
}
.download {
    margin: 0 0 25px;
}
.try-resize {
    float: right;
    font-family: "Courier New",Courier,monospace;
    font-size: 25px;
    position: relative;
}
.footer {
    cursor: default;
    margin: -110px 0 0;
    position: relative;
}
.footer__layout {
    height: 110px;
    margin: 0 auto;
    position: relative;
    width: 980px;
}
.footer__spacer {
    height: 110px;
    position: relative;
}
.footer__info {
    padding-top: 30px;
    position: relative;
    text-align: center;
}
.footer__item {
    display: inline-block;
    margin: 0 10px;
}
.footer__item.footer__item_color_black {
    color: #3f3f3f;
}
.footer__donate {
    padding-top: 10px;
    position: relative;
}
.footer__donate-paypal {
    display: inline-block;
    padding: 4px 0 0 5px;
    vertical-align: top;
}
.footer__donate-yandex {
    display: inline-block;
    vertical-align: top;
}
.header {
    color: #bebebe;
    height: 68px;
    margin: 0 auto;
    position: relative;
    width: 980px;
}
.header__logo {
    background: url("/a/plugins/static/bem/blocks/header/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 65px;
    left: 15px;
    position: absolute;
    top: 0;
    width: 208px;
}
.header__button {
    float: right;
    padding: 17px 25px 0;
    position: relative;
}
.lang {
    position: absolute;
    right: 25px;
    top: 10px;
}
.lang__item {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #999;
    border-radius: 7px 0 0 7px;
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2) inset;
    color: #67767d;
    display: block;
    float: left;
    margin-left: -1px;
    padding: 3px 15px;
}
.lang__item + .lang__item {
    border-radius: 0 7px 7px 0;
}
.lang__item.lang__item_state_active {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5) inset;
    color: #9c9c9c;
}
.lang__item.lang__item_state_active:hover {
    color: #9c9c9c;
}
.lang__item:hover {
    color: #cf5241;
    text-decoration: none;
}
.menu {
    float: right;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 10px 0 0;
    position: relative;
}
.menu__item {
    color: #bebebe;
    display: block;
    float: left;
    padding: 5px 15px;
    position: relative;
}
.menu__item:hover, .menu__item.menu__item_state_active {
    color: #fff;
}
.news {
    position: relative;
}
.news__item {
    margin: 20px 0;
    position: relative;
}
.news__item:last-child {
    margin-bottom: 0;
}
.news__item p {
    margin: 0;
}
.news__title {
    font-size: 16px;
    margin: 0;
}
.news__title a {
    color: #3f3f3f;
}
.news__info {
    color: #9c9c9c;
    margin: 0 0 10px;
    position: relative;
}
.news__author {
    background: url("/a/plugins/static/bem/blocks/news/ico-pen.png") no-repeat scroll 0 4px rgba(0, 0, 0, 0);
    display: inline-block;
    margin-right: 20px;
    padding: 1px 0 1px 21px;
    position: relative;
    vertical-align: top;
}
.news__date {
    background: url("/a/plugins/static/bem/blocks/news/ico-calendar.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
    display: inline-block;
    padding: 1px 0 1px 23px;
    position: relative;
    vertical-align: top;
}
.news__image {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 0 15px;
    padding: 5px;
    position: relative;
}
.news__image:hover {
    border-color: #cf5241;
}
.news__image img {
    display: block;
    width: 100%;
}
.lt-ie8 .news__image {
}
.options {
    margin: 0 0 25px;
    width: 100%;
}
.options th {
    background: none repeat scroll 0 0 #f7f7f7;
    border: 1px solid #e8e8e8;
    box-shadow: 0 15px 30px rgba(255, 255, 255, 0.9) inset;
    color: #b3b3b3;
    padding: 13px 15px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    white-space: nowrap;
}
.options th + th + th + th {
    text-align: left;
}
.options td {
    border: 1px solid #e8e8e8;
    color: #9c9c9c;
    padding: 10px 15px;
    text-align: center;
}
.options tr td:first-child {
    color: #67767d;
    white-space: nowrap;
}
.options tr td:first-child div {
    color: #9c9c9c;
    font-size: 9px;
}
.options td + td + td + td {
    color: #67767d;
    text-align: left;
}
.options__step td {
    border-bottom: 3px solid #ccc;
}
.options__new td:first-child {
    background: linear-gradient(135deg, #ff4747 0px, #ff6060 3%, #ff6060 3%, #fff 3%, #fff 3%, #fff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.panel {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.35);
    border-radius: 10px;
    padding: 6px;
    position: relative;
}
.lt-ie9 .panel {
    background: url("/a/plugins/static/bem/blocks/panel/bg-panel.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.panel__layout {
    background: none repeat scroll 0 0 #fff;
    border-radius: 4px;
    min-height: 900px;
    padding: 20px 25px;
    position: relative;
}
.cols__item_type_single .panel__layout {
    min-height: 450px;
}
.lt-ie8 .panel__layout {
}
.panel__star {
    background: none repeat scroll 0 0 #fff;
    padding: 5px 0 5px 15px;
    position: absolute;
    right: 0;
    top: 13px;
    z-index: 2;
}
code {
    background: url("/a/plugins/static/bem/blocks/prettify/bg-prettify.png") repeat scroll 50% 50% #555;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7) inset;
    color: #ff0;
    display: inline-block;
    font-family: "Lucida Console","Courier New",monospace;
    font-size: 12px;
    padding: 1px 5px 1px 7px;
}
pre {
    background: url("/a/plugins/static/bem/blocks/prettify/bg-prettify.png") repeat scroll 50% 50% #555;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7) inset;
    color: #fff;
    font-family: "Lucida Console","Courier New",monospace;
    font-size: 12px;
    line-height: 130%;
    margin: -15px 0 25px;
    overflow-x: auto;
    padding: 10px 15px;
}
.lt-ie9 pre {
    border: 1px solid #000;
}
.share {
    overflow: hidden;
    position: relative;
}
.share__all {
    float: left;
    margin-right: 15px;
    position: relative;
}
.share__git {
    float: left;
    padding: 4px 0 0;
    position: relative;
}
.side {
    padding: 25px 0;
    position: relative;
}
.side.side_scheme_dark {
    color: #8b949d;
    height: 185px;
    overflow: hidden;
}
.side.side_scheme_dark h3 {
    color: #bebebe;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.side h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 15px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
.side p {
    margin: 0;
}
.side__share {
    background: none repeat scroll 0 0 #f4f4f4;
    border-bottom: 1px solid #fff;
    border-radius: 5px;
    border-top: 1px solid #adbac1;
    overflow: hidden;
    padding: 2px 0 3px 2px;
    position: relative;
}
.skins {
    margin: 0 0 20px;
    overflow: hidden;
    padding: 0 0 0 1px;
    position: relative;
}
.skins span {
    background: none repeat scroll 0 0 #f7f7f7;
    border: 1px solid #e8e8e8;
    box-shadow: 0 15px 30px rgba(255, 255, 255, 0.9) inset;
    cursor: pointer;
    display: block;
    float: left;
    margin-left: -1px;
    padding: 13px 25px;
}
.skins span:first-child {
    border-radius: 10px 0 0 10px;
}
.skins span:last-child {
    border-radius: 0 10px 10px 0;
}
.skins span.on {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3) inset;
    color: #000;
}
.slogan {
    height: 200px;
    position: relative;
}
.slogan h1 {
    font-size: 25px;
    margin: 0;
    padding-top: 70px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.9);
}
.search {
    left: 20px;
    position: absolute;
    top: 15px;
    width: 250px;
}
.switch {
    margin: 0 0 30px;
    overflow: hidden;
    padding: 0 0 0 1px;
    position: relative;
}
.switch.type_big {
    font-size: 18px;
}
.switch__item {
    background: none repeat scroll 0 0 #f7f7f7;
    border: 1px solid #e8e8e8;
    box-shadow: 0 15px 30px rgba(255, 255, 255, 0.9) inset;
    cursor: pointer;
    display: block;
    float: left;
    margin-left: -1px;
    padding: 13px 25px;
}
.switch__item:first-child {
    border-radius: 10px 0 0 10px;
}
.switch__item:last-child {
    border-radius: 0 10px 10px 0;
}
.switch__item.state_active {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3) inset;
    color: #000;
}
.twitter {
    position: relative;
}
.twitter__window {
    background: none repeat scroll 0 0 #f4f4f4;
    border-bottom: 1px solid #fff;
    border-radius: 5px;
    border-top: 1px solid #adbac1;
    padding: 8px 10px;
    position: relative;
}
.twitter__ug {
    background: url("/a/plugins/static/bem/blocks/twitter/ug.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 14px;
    margin: -1px auto 10px;
    position: relative;
    width: 24px;
}
.twitter__link {
    background: url("/a/plugins/static/bem/blocks/twitter/ico-twitter.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding: 35px 0 0;
    position: relative;
    text-align: center;
}
.lt-ie8 .twitter__link {
}
.useful {
    position: relative;
}
.useful__item {
    background: url("/a/plugins/static/bem/blocks/elements/bg-line.png") repeat-x scroll 0 100% rgba(0, 0, 0, 0);
    margin-bottom: 14px;
    padding-bottom: 20px;
    position: relative;
}
.useful__item:last-child {
    margin-bottom: 0;
}
.useful__title {
    background: url("_common/list.png") no-repeat scroll 0 10px rgba(0, 0, 0, 0);
    font-size: 16px;
    padding: 0 0 0 15px;
    position: relative;
}
.useful__text {
    padding: 0 0 0 15px;
}
.wrapper {
    background: url("/a/plugins/static/bem/blocks/wrapper/bg.png") repeat scroll 50% 50% #cbd4da;
    cursor: default;
    min-height: 100%;
    position: relative;
}
.wrapper__line {
    background: url("/a/plugins/static/bem/blocks/wrapper/bg-grey.png") repeat-x scroll 50% 0 #414a54;
    height: 235px;
    left: 0;
    position: absolute;
    top: 338px;
    width: 100%;
    z-index: 1;
}
.wrapper__top {
    background: url("/a/plugins/static/bem/blocks/wrapper/bg-grey.png") repeat-x scroll 50% 100% #414a54;
    height: 68px;
    position: relative;
    z-index: 2;
}
.wrapper__layout {
    margin: 0 auto;
    position: relative;
    width: 980px;
    z-index: 2;
}
.wrapper__flex {
    margin: 0 auto;
    min-width: 980px;
    position: relative;
    width: 94%;
    z-index: 2;
}

