<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-xs-12 col-sm-9">
    <p class="pull-right visible-xs">
    <button data-toggle="offcanvas" class="btn btn-primary btn-xs" type="button">Toggle nav</button>
    </p>
    <div class="row">
      <div class="col-6 col-sm-6 col-lg-4">
	<h2>Heading</h2>
	<p><a role="button" href="#" class="btn btn-default">View details »</a></p>
      </div><!--/col-6 col-sm-6 col-lg-4-->
      <div class="col-6 col-sm-6 col-lg-4">
	<h2>Heading</h2>
	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	<p><a role="button" href="#" class="btn btn-default">View details »</a></p>
      </div><!--/col-6 col-sm-6 col-lg-4-->
    </div><!--/row-->
  </div><!--/row row-offcanvas row-offcanvas-right-->
